body,
body::after,
body::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 400px) {
    body,
    body::after,
    body::before {
      overflow-x: hidden; } }

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 2rem; }

/*  */
@media only screen and (max-width: 1100px) {
  html {
    font-size: 62.5%; } }

@media only screen and (max-width: 600px) {
  html {
    padding: 0; } }

/* USE FOR BUTTON */
.btn {
  border: 0;
  padding: 3% 6%;
  border-radius: 3%;
  color: black;
  background-color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif; }
  .btn.hover {
    cursor: pointer; }

.btn:hover {
  cursor: pointer; }

.btn:focus {
  outline: 0; }

.icon-item {
  font-size: 10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  -webkit-background-clip: text;
  color: transparent; }

.card-item {
  padding: 10% 0;
  padding-bottom: 10rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }
  .card-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0.8rem 1rem rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 660px) {
    .card-item {
      padding: 15% 2%;
      display: inline-block; } }

.card {
  height: 60rem;
  background-color: white;
  perspective: 1000px;
  backface-visibility: hidden;
  padding-bottom: 10%; }
  .card-div {
    width: 100%;
    top: 0;
    left: 0;
    position: relative; }
    .card-div:hover .card-front {
      transform: rotateY(180deg); }
    .card-div:hover .card-back {
      transform: rotateY(0deg); }
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1000px;
    transition: all 0.5s ease;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden; }
  .card-back {
    transform: rotateY(180deg);
    background-color: black; }

.story-card {
  width: 80%;
  padding: 3% 5%;
  margin: 0 auto;
  padding-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5%;
  transform: skewX(-12deg); }
  .story-card > * {
    transform: skewX(12deg); }
  .story-card .story-img-div {
    position: relative; }
    .story-card .story-img-div .story-caption {
      position: absolute;
      top: 50%;
      transition: all 0.5s;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-weight: 300;
      opacity: 0; }
  .story-card .story-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.2);
    transition: all 0.3s; }
  .story-card .story-shape {
    width: 15rem;
    height: 15rem; }
    .story-card .story-shape:hover .story-caption {
      opacity: 1;
      z-index: 11; }
    .story-card .story-shape:hover .story-img {
      filter: blur(0.2rem);
      transform: scale(1); }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-item {
  transition: all 0.3s;
  font-size: 1.5rem;
  display: block;
  padding: 1rem 2rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  border: 3px solid transparent;
  transition: all 0.2s; }
  .form-item:not(:last-child) {
    margin-bottom: 1rem; }
  .form-item:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #55c57a; }
  .form-item:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form-item::-webkit-input-placeholder {
    color: #777; }

.form-label {
  font-size: 1.4rem;
  padding: 0 2rem;
  font-weight: 400;
  display: block;
  transform: translateY(0.5rem);
  opacity: 1;
  transition: all 0.2s;
  visibility: visible; }

.form-item:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.heading-secondary {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  box-shadow: 5rem 10px 20px; }
  @media only screen and (max-width: 600px) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  color: #777; }

.lorem-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.5rem; }

.about-section-link {
  text-decoration: none;
  color: #28b485;
  border-bottom: 2px solid #7ed56f;
  margin-top: 5rem;
  font-size: 2rem;
  padding: 2%;
  transition: all 0.2s; }
  .about-section-link:hover {
    border-bottom: 2px solid transparent;
    background-color: #55c57a;
    color: white;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
  .about-section-link:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.u-center-text {
  text-align: center; }

.u-margin-top {
  margin-top: 10%; }

.u-margin-bottom {
  margin-bottom: 5%; }

.u-padding-top {
  padding-top: 10%; }

.u-thick-weight {
  font-weight: 900; }

.u-li {
  list-style: none;
  margin: 0;
  padding: 0; }

.row {
  width: 80%;
  margin: 0 auto; }

hr {
  width: 60%;
  text-align: center; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%); }
  @media only screen and (max-width: 800px) {
    .header {
      height: 70vh; }
      .header .header-primary {
        font-size: 6rem; }
      .header .header-secondary {
        font-size: 2rem; } }
  @media only screen and (max-width: 600px) {
    .header {
      height: 90vh; }
      .header .header-primary {
        font-size: 5rem;
        letter-spacing: 1rem; }
      .header .header-secondary {
        font-size: 1.6rem;
        letter-spacing: 1rem; } }
  @media only screen and (max-width: 450px) {
    .header {
      height: 70vh;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
      .header .header-primary {
        font-size: 4rem;
        letter-spacing: 1rem; }
      .header .header-secondary {
        font-size: 1.6rem;
        letter-spacing: 1rem; }
      .header .header-logo-box {
        top: 3rem;
        left: 3rem; } }
  .header-logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header-logo-img {
    height: 5rem;
    transition: all 0.3s; }
    .header-logo-img:hover {
      transform: scale(1.2);
      cursor: pointer; }
  .header-primary {
    display: block;
    font-size: 8rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2.4rem;
    /* ADDING ANIMATION */
    animation: moveInRight 1s ease; }
  .header-secondary {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.6rem;
    animation: moveInLeft 1s ease;
    text-align: center; }

.header-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block; }
  .header-div .h1-heading {
    color: white;
    display: inline-block;
    /* position: absolute; */
    margin: 0 auto; }
  .header-div .header-btn-div {
    text-align: center;
    padding-top: 5%; }

.header-btn {
  transition: all 0.2s;
  animation: moveInBottom 1s ease 0.75;
  animation-fill-mode: backwards;
  text-align: center;
  background: white;
  transition: background 0.2s; }
  .header-btn:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .header-btn:active {
    transform: translateY(0.4rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }

/* ANIMATIONS */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.7); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-close {
    position: absolute;
    top: 4rem;
    right: 3rem;
    font-size: 4rem; }
    .popup-close a {
      text-decoration: none;
      color: black; }
      .popup-close a:hover {
        color: crimson; }
  .popup-content {
    background-color: #fff;
    width: 80vw;
    display: grid;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 4fr); }
    @media only screen and (max-width: 650px) {
      .popup-content {
        width: 95vw;
        height: 80vh; } }
    @media only screen and (max-width: 450px) {
      .popup-content {
        width: 95vw;
        height: 90vh; } }
    @media only screen and (max-width: 400px) {
      .popup-content .lorem-text {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 900px) {
      .popup-content {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        grid-row-gap: 0rem; } }
  .popup-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .popup-img-div {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-content: center;
        align-items: center; } }
    @media only screen and (max-width: 500px) {
      .popup-img-div {
        padding: 1rem;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-content: center;
        align-items: center; }
        .popup-img-div .popup-img-2 {
          display: none; } }
  @media only screen and (max-width: 1200px) {
    .popup .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 4500px) {
    .popup .heading-secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 900px) {
    .popup .heading-tertiary {
      font-size: 1.5rem; } }
  .popup-img {
    width: 100%;
    flex: 0 1 50%; }
  .popup-content-div {
    padding: 2rem; }
    @media only screen and (max-width: 900px) {
      .popup-content-div {
        margin-top: 3rem; } }
    @media only screen and (max-width: 450px) {
      .popup-content-div {
        margin-top: 0.5rem;
        padding: 1rem; } }
  .popup-text-grid {
    margin-top: 2rem;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem; }
    @media only screen and (max-width: 900px) {
      .popup-text-grid {
        margin-top: 3rem; } }
    @media only screen and (max-width: 450px) {
      .popup-text-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        grid-template-rows: 1fr 1fr; } }
    .popup-text-grid .lorem-text {
      line-height: 2rem;
      text-align: justify; }
  .popup .btn {
    background: #55c57a;
    color: white;
    font-size: 2rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
    margin-top: 20%; }
    @media only screen and (max-width: 900px) {
      .popup .btn {
        margin-top: 4%; } }
    @media only screen and (max-width: 400px) {
      .popup .btn {
        margin-top: 2rem;
        font-size: 1.5rem; } }
    .popup .btn:hover {
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7); }

.navigation-checkbox {
  display: none; }

.navigation-btn {
  background-color: white;
  position: fixed;
  top: 4rem;
  right: 6rem;
  height: 6rem;
  width: 6rem;
  z-index: 20000;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .navigation-btn {
      top: 2rem;
      right: 2rem;
      height: 5rem;
      width: 5rem; } }

.navigation-bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 600px) {
    .navigation-bg {
      top: 2rem;
      right: 2rem;
      height: 4rem;
      width: 4rem; } }

.navigation-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  height: 100vh;
  visibility: hidden;
  width: 0;
  transition: opacity 0.6s; }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation-list {
  position: absolute;
  top: 30%;
  height: 0;
  width: 0;
  left: 45vw;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 8rem; }
  @media only screen and (max-width: 800px) {
    .navigation-list {
      top: 20%;
      left: 35%;
      transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 600px) {
    .navigation-list {
      top: 20%;
      left: 30%;
      transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 400px) {
    .navigation-list {
      top: 20%;
      left: 20%;
      transform: translate(-50%, -50%); } }

.navigation-link {
  text-decoration: none;
  padding: 2rem 5rem;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  text-transform: uppercase;
  transition: all 0.4s;
  transition: background 0.6;
  transform: translateX(2rem); }
  .navigation-link:hover, .navigation-link:active {
    background-position: 100%;
    color: #55c57a;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7); }

.navigation-checkbox:checked ~ .navigation-bg {
  transform: scale(80); }
  @media only screen and (max-width: 800px) {
    .navigation-checkbox:checked ~ .navigation-bg {
      transform: scale(60); } }

.navigation-icon {
  position: relative;
  margin-top: 3rem; }
  @media only screen and (max-width: 600px) {
    .navigation-icon {
      margin-top: 2.4rem; } }
  .navigation-icon, .navigation-icon:before, .navigation-icon:after {
    width: 3rem;
    height: 2px;
    background-color: #23262b;
    display: inline-block; }
    @media only screen and (max-width: 600px) {
      .navigation-icon, .navigation-icon:before, .navigation-icon:after {
        width: 2.8rem;
        height: 2px; } }
  .navigation-icon:before, .navigation-icon:after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s; }
  .navigation-icon:before {
    margin-bottom: 1rem;
    top: -0.7rem; }
  .navigation-icon:after {
    top: 0.7rem; }

.navigation-btn:hover .navigation-icon:before {
  top: -1rem; }

.navigation-btn:hover .navigation-icon:after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon {
  background: transparent; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon:before {
  transform: rotate(135deg);
  top: 0;
  transform-origin: center; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon:after {
  transform: rotate(-135deg);
  top: 0;
  transform-origin: center; }

.about-section {
  background-color: #f7f7f7;
  width: 100%;
  margin-top: -25vh;
  padding-top: 25vh;
  padding-bottom: 15%; }
  @media only screen and (max-width: 1100px) {
    .about-section {
      padding-bottom: 20%; } }
  .about-section-grid {
    display: grid;
    grid-template-columns: 50vw 50vw; }
    @media only screen and (max-width: 1100px) {
      .about-section-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 3rem; } }
    @media only screen and (max-width: 1100px) {
      .about-section-grid {
        grid-template-rows: 40vh 50vh; } }
    @media only screen and (max-width: 600px) {
      .about-section-grid {
        grid-template-rows: 40vh 120vh; } }
  .about-section-text {
    padding: 5%; }
    @media only screen and (max-width: 1100px) {
      .about-section-text {
        grid-row: 2; } }
  .about-section .section-images {
    padding: 5%;
    margin-bottom: 5%;
    overflow-x: hidden; }
    @media only screen and (max-width: 1100px) {
      .about-section .section-images {
        padding: 0;
        margin: 0; } }
    .about-section .section-images .section-images-div {
      position: relative; }
    .about-section .section-images .section-images-img {
      position: absolute;
      height: 27rem;
      transition: all 0.2s; }
      @media only screen and (max-width: 800px) {
        .about-section .section-images .section-images-img {
          height: 20rem; } }
      @media only screen and (max-width: 500px) {
        .about-section .section-images .section-images-img {
          height: 17rem; } }
      .about-section .section-images .section-images-img:hover {
        padding: 2rem;
        z-index: 1900000;
        transform: scale(1.1);
        border: 3px solid #55c57a; }
    .about-section .section-images .img-1 {
      top: 10%;
      left: 0%; }
      @media only screen and (max-width: 1100px) {
        .about-section .section-images .img-1 {
          top: 10%;
          left: 10%; } }
      @media only screen and (max-width: 600px) {
        .about-section .section-images .img-1 {
          top: 10%;
          left: 5%; } }
      @media only screen and (max-width: 520px) {
        .about-section .section-images .img-1 {
          top: 10%;
          left: 10%; } }
    .about-section .section-images .img-2 {
      top: 30%;
      left: 10%; }
      @media only screen and (max-width: 1100px) {
        .about-section .section-images .img-2 {
          top: 40%;
          left: 30%; } }
      @media only screen and (max-width: 600px) {
        .about-section .section-images .img-2 {
          top: 20%;
          left: 30%; } }
      @media only screen and (max-width: 520px) {
        .about-section .section-images .img-2 {
          top: 30%;
          left: 25%; } }

.features {
  padding: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: -12rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg); }
  @media only screen and (max-width: 900px) {
    .features {
      padding: 10% 0.5rem; } }
  @media only screen and (max-width: 800px) {
    .features {
      padding: 10% 7rem; } }
  @media only screen and (max-width: 500px) {
    .features {
      padding: 10% 4rem; } }
  @media only screen and (max-width: 400px) {
    .features {
      padding: 10% 2rem; } }
  .features-grid {
    display: grid;
    transform: skewY(7deg);
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    align-self: center;
    grid-template-rows: minmax(max-content, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 5rem; }
    @media only screen and (max-width: 800px) {
      .features-grid {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); } }
    @media only screen and (max-width: 900px) {
      .features-grid {
        grid-column-gap: 3rem;
        grid-row-gap: 3rem; } }
  .features .lorem-text {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center; }
    @media only screen and (max-width: 660px) {
      .features .lorem-text {
        margin-top: 0.5rem; } }

.tours {
  background-color: #f7f7f7;
  padding-top: 20%;
  margin-top: -10%;
  padding-bottom: 15%;
  padding-left: 6%;
  padding-right: 6%; }
  @media only screen and (max-width: 900px) {
    .tours {
      padding-left: 2%;
      padding-right: 2%; } }
  @media only screen and (max-width: 700px) {
    .tours {
      padding-left: 12%;
      padding-right: 12%; } }
  @media only screen and (max-width: 500px) {
    .tours {
      padding-left: 8%;
      padding-right: 8%; } }
  @media only screen and (max-width: 430px) {
    .tours {
      padding-left: 4%;
      padding-right: 4%; } }
  .tours .heading-secondary {
    font-weight: 300; }
  .tours .heading-tertiary {
    font-weight: 300;
    text-align: right;
    position: absolute;
    font-size: 3rem;
    color: white;
    padding: 2%; }
  .tours-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 10rem; }
    @media only screen and (max-width: 900px) {
      .tours-grid {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 6rem; } }
  .tours .card .card-front,
  .tours .card .card-back {
    position: absolute; }
  .tours .card .tours-list {
    margin-top: 8%; }
  .tours .card-img {
    height: 35rem;
    width: 100%;
    opacity: 0.4; }
  .tours .card-img-div {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
  .tours .gradient {
    width: 100%;
    position: absolute;
    height: 35rem; }
    .tours .gradient-sea {
      background: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 185, 0, 0.8));
      filter: brightness(1); }
    .tours .gradient-forest {
      background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(126, 213, 111, 0.8)); }
    .tours .gradient-snow {
      background: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(41, 152, 255, 0.8)); }

.sea-text {
  background: rgba(255, 119, 48, 0.9); }

.forest-text {
  background: rgba(40, 180, 133, 0.9); }

.snow-text {
  background: rgba(86, 67, 250, 0.9); }

.p1 {
  top: 20rem;
  right: 3rem; }

.p2 {
  top: 26rem;
  right: 3rem;
  padding: 1px;
  margin-bottom: 5%; }

.sea-back {
  background: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }

.forest-back {
  background: linear-gradient(to bottom right, #7ed56f, #55c57a, #28b485); }

.snow-back {
  background: linear-gradient(to bottom right, #2998ff, #5643fa); }

.card-back .back-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 50%;
  padding-bottom: 50%;
  text-align: center; }

.card-back .btn {
  background: white;
  color: #55c57a;
  font-size: 4rem;
  font-weight: 300;
  border-radius: 7px;
  padding: 2% 4%;
  text-align: center;
  margin-top: 65%; }

.card-back .tours-only {
  font-size: 2rem;
  color: white;
  font-weight: 600; }

.card-back .tours-price {
  font-size: 6rem;
  color: white;
  font-weight: 200;
  margin-top: 10%; }

.stories {
  padding: 5% 0;
  position: relative; }
  .stories .story-text .lorem-text {
    margin-top: 3%; }
  .stories .stories-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-column-gap: 4rem;
    grid-row-gap: 5rem;
    justify-content: center;
    align-items: center; }
    .stories .stories-grid .story-img-div,
    .stories .stories-grid .story-shape {
      position: relative; }
  .stories .about-section-link {
    padding: 0;
    text-align: center;
    display: inline-block;
    padding: 1.2%;
    margin-left: 3%;
    margin-top: -3%;
    display: inline-block; }
  .stories .row {
    z-index: 123; }

@media only screen and (max-width: 1200px) {
  .stories .stories-grid .lorem-text {
    line-height: 2.3rem; }
  .stories .story-card {
    width: 90%;
    padding: 5% 5%; }
    .stories .story-card .story-img,
    .stories .story-card .story-img-div {
      width: 10rem;
      height: 10rem; } }

@media only screen and (max-width: 850px) {
  .stories .story-card .lorem-text {
    font-size: 1.5rem;
    line-height: 1.6rem; } }

@media only screen and (max-width: 600px) {
  .stories {
    padding: 10% 4%; }
    .stories .about-section-link {
      display: inline-block;
      width: 60%;
      font-size: 1.5rem;
      margin: 10% 5%;
      padding: 4% 2%; }
    .stories .heading-secondary {
      font-size: 3rem; }
    .stories .stories-grid {
      margin: 0 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 4rem;
      grid-row-gap: 1rem; }
    .stories .story-card {
      width: 85%;
      padding: 8%; }
      .stories .story-card .heading-tertiary {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 3%; }
      .stories .story-card .lorem-text {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: justify; }
      .stories .story-card .story-img,
      .stories .story-card .story-img-div {
        width: 6rem;
        height: 6rem;
        margin: 0 auto; } }

@media only screen and (max-width: 400px) {
  .stories {
    padding: 5%; }
    .stories .story-card {
      width: 80%;
      padding: 15% 10%;
      transform: skewX(0deg); }
      .stories .story-card > * {
        transform: skewX(0deg); }
      .stories .story-card .lorem-text {
        text-align: justify;
        padding: 0 5%;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 2%; }
      .stories .story-card .heading-tertiary {
        font-size: 1.5rem;
        text-align: center; }
      .stories .story-card .story-img,
      .stories .story-card .story-img-div {
        width: 9rem;
        height: 9rem;
        margin: 0 auto; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -112;
  height: 100%;
  opacity: 0.2; }
  .bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.booking {
  width: 100%;
  padding: 5% 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 550px) {
    .booking {
      padding: 5% 0; } }

.book {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7); }
  @media only screen and (max-width: 550px) {
    .book {
      width: 95%;
      padding: 1rem; } }
  .book .book-container {
    width: 50%;
    height: 100%;
    padding: 4rem; }
    @media only screen and (max-width: 850px) {
      .book .book-container {
        width: 80%;
        padding: 2rem; }
        .book .book-container .heading-secondary {
          font-size: 3rem; } }
    @media only screen and (max-width: 550px) {
      .book .book-container {
        width: 95%;
        padding: 1rem; } }
  .book .header-btn {
    background-color: transparent;
    color: black;
    border: 2px solid #28b485;
    font-size: 2rem; }
    .book .header-btn:hover {
      background: #28b485;
      color: white; }

.footer {
  padding: 8% 3%;
  background-color: #2d2c2d; }
  .footer .footer-logo {
    width: 100%; }
  .footer .footer-logo-div {
    width: 8%;
    padding: 1px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; }
  .footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 5rem; }
    @media only screen and (max-width: 960px) {
      .footer .footer-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 5rem; } }
    @media only screen and (max-width: 450px) {
      .footer .footer-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 5rem; } }
  .footer .contact-grid {
    display: grid;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .footer .contact-item {
    padding: 8% 4%;
    border-radius: 5px;
    display: inline-block; }
    .footer .contact-item:hover {
      background-color: #3f3c3f; }
  .footer .copy-grid {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1%;
    padding: 0% 10%; }
